/*****************************TAG SELECTORS**************************/
body {
  text-align: center;
}

h1 {
  color: #d52484;
  font-size: 100px;
  text-shadow: 5px 5px pink;
}


img {
  border: ridge;
  border-color: #d52484;
  border-width: 25px;
}


p {
  font-style: italic;
  letter-spacing: 3px;
}

img:hover {
  background-color: black;
}

/***************************CLASS SLECTORS*************************/

.helado1 {
  background-color: salmon;
  height: 100px;
}

.helado2 {
  background-color: pink;
  height: 100px;
}

.helado3 {
  background-color: crimson;
  height: 100px;
}

.circular {
  border-radius: 100%
}

/***************************ID SLECTORS*************************/

#primerparrafo {
  font-style: normal;
}
